<<<<<<< HEAD
li a {
    color: white;
}
body {
    background: white url("images/background.gif") no-repeat;
}
||||||| merged common ancestors
=======
li a {
    color: white;
}
body {
    background: white url("images/background2.jpg") no-repeat;
}
>>>>>>> 842da7a882ef1542ee8dc3ccc8f585f3286e79ea
